.Synonyms {
  margin: 5px 0 15px;
  padding: 0;
  line-height: 11px;
}

.Synonyms li {
  font-size: 12px;
  display: inline-block;
  padding-right: 15px;
}

.Synonyms .Heading {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 20px;
}
